@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Your custom styles go here */
#header{
    position: fixed;
    width: 100vw;
    z-index: 9;
}
body {
    font-family: 'Poppins', sans-serif;

}
.beautifyImage{
   background-color: aqua;
   z-index: 1;
   margin-top: -215px;
   width: 210px;
   height: 210px;
   border-radius: 50%;
   filter: blur(8px);
   
}
.head1{
    margin-top: -74px;
    font-weight: bold;
    margin-left: 7px;
}
.head1 h1{
    color: rgba(0, 0, 0, 0.237);
}
section{
    width: 100%;
    position: relative;
}
#abtimage{
    background-image: url("vishu.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

@media (max-width: 640px) {
    .flex {
        flex-direction: inline;
    }
    .w-1 {
        width: 100%;
    }
}

@media (max-width: 639px) {
    body {
        width: 103%;
    }
}
